.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100vh;
  margin-top: 20px;
  padding: 30px;
  gap: 30px;
}
.inner-container {
  width: fit-content;
  padding: 70px 130px;
  border: 1px solid rgb(88, 79, 79);
}

.home-page h1 {
  text-align: left;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 20px;
}

.migrate-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
  width: 100%;
}
.custom-input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: "80px";
}
.custom-input-field label {
  text-align: start;
  font-size: 14px;
}
.label-width {
  width: 100px;
}
.label-width1 {
  width: 70px;
}

.authorization-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 500px;
  gap: 10px;
  padding: 20px;
  margin-top: 10%;
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.authorization-box h2 {
  color: white;
  font-size: 16px;
  margin: 10px 0px;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: white;
}

.password-toggle.visible {
  color: white;
}
.custom-alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
  z-index: 1000;
  margin-top: 10px;
}
.input-field {
  width: 300px;
}
.input-field1 {
  width: 100px;
}
.input-field2 {
  width: 735px;
}
.migrateContent {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 5%;
}
.migrator-fields {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.field-mapping {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.migrate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.migrator-button {
  display: flex;
  justify-content: end;
  align-items: end;
}
.error-message {
  font-size: 10px;
  color: red;
}
.place-holder {
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .home-page {
    padding: 5px;
    gap: 30px;
  }

  .home-page h1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
